
body {
	color: #777777;
}

a:hover {
	text-decoration: none;
}

.jumbotron {
	padding-top: 50px;
	background: url(../img/pattern.svg);
	color: white;
}

#caption {
	text-shadow: 1px 1px 5px #000000;
}

.ty-btn {
	border: 1px solid white;
}

.ty-btn:hover {
	color: white;
}

.ty-grids {
	text-align: center;
}

.top-grid {
	margin-bottom: 3em;
}

.ty-header {
	margin-bottom: 0.5em;
	text-align: center;
	font-size: 1.7em;
	color: #000000;
	font-weight: 700;
}

.ty-speakers,
.ty-venue {
	background-color: #F7F7F7;
	padding: 3em 0 5em;
}

.ty-schedule,
.ty-sponsors {
	padding: 3em 0 5em;
}


.ty-ditu {
	height: 300px;
}

.name-in {
	margin: 0 auto;
	border-radius: 30px;
	width: 135px;
	height: 135px;
}

.ty-logos {
	
}

.ty-sponsor {
	padding-top: 2em;
	float: none;
    display: inline-block;
    vertical-align: middle;
}

.ty-sponsor img {
	max-width: 100%;
}


.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

@media(max-width:768px){
	.ty-speakers,
	.ty-schedule,
	.ty-venue {
		padding: 1.5em 0 2em;
	}
	
	.ty-ditu {
		height: 250px;
	}
}

@media(max-width:480px){
	
}